.venv/
.dbg/
bin/
build/
dist/
nimcache/
node_modules/
node-v20.11.1-win-x64/
resonance-docs/

electron-gui/node_modules/
electron-gui/dist/

benchmark/*.json
benchmark/results.md
benchmark/5runs-summary.md

resources.res
*.exe
*.dll
*.blob
*.pdb
*.obj
*.o

.DS_Store
Thumbs.db

models/.cache/
